h1 {
  color: white;
}
h2 {
  color: #bd2c95;
}
img {
  width: 400px;
  margin-left: 400px;
  margin-right: 400px;
  padding: 10px;
}
header {
  background-color: red;
}
.pink {
  color: #bd2c95;
}
.large {
  font-size: 30px;
}
