h1 {
  color: red
}
h2 {
  color: pink
}
img {
width: 400px;
margin-left: 400px;
margin-right: 400px;
padding: 10px;
}
head {
  background-color: grey;
}
.pink {
  color: pink;
}

.large {
  font-size: 30px;
}
