h1 {
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  padding-top: 25px;
}
h2 {
  color: white;
  font-size: 40px;
  font-family: 'Noto Serif KR', sans-serif;
  padding-bottom: 20px;
}
h3 {
  color: red;
  font-size: 70px;
  font-family: 'Noto Serif KR', sans-serif;
  margin-bottom: 0px;
  margin-top: 0;

}
h4 {
  color: grey;
  font-size: 20px;
  font-family: 'Noto Serif KR', sans-serif;
  margin-bottom: 0px;
}
p {
  color: grey;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}
.img {
  width: 920px;
  height: auto;
  margin-bottom: 0px;
}
header {
  background-color: red;
}

.nav  {
margin-left: 120px
}

.nav a {
  text-align: left;
  color: black;
  font-size: 17px;
  font-weight: bolder;
  font-variant-caps: titling-caps;
  font-family: 'Roboto', sans-serif;
}

.img1 {
background-image: url("img/agnieszka-kowalczyk-724041-unsplash.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 40%;
height: 900px;
}

.img2 {
background-image: url("img/justin-kauffman-517275-unsplash.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 40%;
height: 900px;
}

.imagewrapper {
margin-left: 120px;
}

.introtext {
}

.maincontent {
  padding: 10px;
max-width: 800px;
margin-left: 100px;
}
.header {
  padding-left: 100px;
}
